body {
    margin: 0px;
}

/* ~ OVERALL BANNER SPECS ~ */

#ad{
    display: block;
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    width: 300px;
    height: 250px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing:border-box;
}

/* Sizmek */

#banner{
    position: relative;
    display: block;
    width: 300px;
    height: 250px;
    cursor: pointer;
    background-color: #FFF;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
}

/* ~ LAYER PROPERTIES ~ */

#ref{
    background:url(backup.jpg) center no-repeat;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 1;
}

#hero{
    background:url(hero.jpg) center no-repeat;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 1;
    transform: scale(0);
    transform-origin: 0% 0%;
}

#logo{
    background: url(logo.png) center no-repeat;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 0px; /*172px;*/
    left: 0px;
    opacity: 1;
    z-index: 6;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}

#disclaimer{
    background:url(disclaimer.png) center no-repeat;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px; 
    opacity: 0;
    z-index: 8;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}

#cta{
    background:url(cta.png) center no-repeat;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 0px; 
    opacity: 0;
    z-index: 8;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}

#txt1_a{
    background:url(txt1_a.png) center no-repeat;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: -500px;
    opacity: 0;
    z-index: 2;
}

#txt1_b{
    background:url(txt1_b.png) center no-repeat;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: -500px;
    opacity: 0;
    z-index: 2;
}

#end_copy{
    background: none;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px; 
    opacity: 1;
    z-index: 2;
}

#txt2{
    background:url(txt2.png) center no-repeat;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 90px;
    left: 0px;
    opacity: 0;
    z-index: 2;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}

#bubbles{
    background: none;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px; 
    opacity: 1;
    z-index: 2;
}

#bubble1_a{
    background:url(bubble1_a.svg) center no-repeat;
    width: 11px;
    height: 9px;
    position: absolute;
    top: 90px;
    left: 163px;
    opacity: 1;
    z-index: 2;
    transform: scale(0);
}

#bubble1_b{
    background:url(bubble1_b.svg) center no-repeat;
    width: 21px;
    height: 16px;
    position: absolute;
    top: 93px;
    left: 175px;
    opacity: 1;
    z-index: 2;
    transform: scale(0);
}

#bubble1_c{
    background:url(bubble1_c.svg) center no-repeat;
    width: 125px;
    height: 100px;
    position: absolute;
    top: 6px;
    left: 160px;
    opacity: 1;
    z-index: 2;
    transform: scale(0);
}

    