body {
    margin: 0px;
}

/* ~ OVERALL BANNER SPECS ~ */

#container{
    position:absolute;
    top:0px;
    left:0px;
    width:300px;
    height:600px;
    border:1px solid black;
    background-color: #002d72;
    box-sizing: border-box;
    overflow:hidden;
    opacity:1;
    z-index:1;
}

/* ~ LAYER PROPERTIES ~ */

//#ref{
    background:url(backup.jpg) center no-repeat;
    width: 300px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 1;
}

#border{
    background:url(border.png) center no-repeat;
    width: 600px;
    height: 1200px;
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 1;
    z-index: 1;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}

/* ~ SCENE 01 ~ */

#txt1{
    background:url(txt1.png) center no-repeat;
    width: 379px;
    height: 136px;
    position: absolute;
    top: 205px;
    left: -40px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#pizza_wrapper{
    background: none;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 0px; 
    opacity: 1;
    z-index: 1;
    transform: scale(1.1);
    transform-origin: 50% 30%;
}

#slice_01{
    background:url(slice_01.png) center no-repeat;
    width: 72px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 94px;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#slice_02{
    background:url(slice_02.png) center no-repeat;
    width: 72px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 133px;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#slice_03{
    background:url(slice_03.png) center no-repeat;
    width: 100px;
    height: 72px;
    position: absolute;
    top: 35px;
    left: 129px;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#slice_04{
    background:url(slice_04.png) center no-repeat;
    width: 100px;
    height: 72px;
    position: absolute;
    top: 74px;
    left: 130px;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#slice_05{
    background:url(slice_05.png) center no-repeat;
    width: 72px;
    height: 100px;
    position: absolute;
    top: 71px;
    left: 134px;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#slice_06{
    background:url(slice_06.png) center no-repeat;
    width: 72px;
    height: 100px;
    position: absolute;
    top: 71px;
    left: 94px;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#slice_07{
    background:url(slice_07.png) center no-repeat;
    width: 100px;
    height: 72px;
    position: absolute;
    top: 74px;
    left: 70px;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#slice_08{
    background:url(slice_08.png) center no-repeat;
    width: 100px;
    height: 72px;
    position: absolute;
    top: 35px;
    left: 70px;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#pup_wrapper{
    background: none;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px; 
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    transform-origin: 50% 50%;
}

#pup_01{
    background:url(pup_01.png) center no-repeat;
    width: 148px;
    height: 252px;
    position: absolute;
    top: 12px;
    left: 80px;
    opacity: 1;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#pup_02{
    background:url(pup_02.png) center no-repeat;
    width: 100px;
    height: 181px;
    position: absolute;
    top: 65px;
    left: 40px;
    opacity: 1;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#pup_03{
    background:url(pup_03.png) center no-repeat;
    width: 84px;
    height: 179px;
    position: absolute;
    top: 68px;
    left: 172px;
    opacity: 1;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#bulb_wrapper{
    background: none;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px; 
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    transform-origin: 50% 50%;
}

#bulb{
    background:url(bulb.png) center no-repeat;
    width: 119px;
    height: 194px;
    position: absolute;
    top: 56px;
    left: 91px;
    opacity: 1;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#ray_wrapper{
    background: none;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 0px; 
    opacity: 0;
    z-index: 1;
    transform: scale(1.4);
    transform-origin: 50% 40%;
}

#ray_01{
    background-color: #ffbf3f;
    width: 15px;
    height: 4px;
    position: absolute;
    border-radius: 25px;
    top: 90px;
    left: 140px; 
    opacity: 1;
    z-index: 1;
    rotate: -45deg;
}

#ray_02{
    background-color: #ffbf3f;
    width: 15px;
    height: 4px;
    position: absolute;
    border-radius: 25px;
    top: 85px;
    left: 140px; 
    opacity: 1;
    z-index: 1;
    rotate: 0deg;
}

#ray_03{
    background-color: #ffbf3f;
    width: 15px;
    height: 4px;
    position: absolute;
    border-radius: 25px;
    top: 90px;
    left: 140px; 
    opacity: 1;
    z-index: 1;
    rotate: 45deg;
}

#ray_04{
    background-color: #ffbf3f;
    width: 15px;
    height: 4px;
    position: absolute;
    border-radius: 25px;
    top: 90px;
    left: 140px; 
    opacity: 1;
    z-index: 1;
    rotate: 90deg;
}

#ray_05{
    background-color: #ffbf3f;
    width: 15px;
    height: 4px;
    position: absolute;
    border-radius: 25px;
    top: 90px;
    left: 140px; 
    opacity: 1;
    z-index: 1;
    rotate: -45deg;
}

#ray_06{
    background-color: #ffbf3f;
    width: 15px;
    height: 4px;
    position: absolute;
    border-radius: 25px;
    top: 85px;
    left: 140px; 
    opacity: 1;
    z-index: 1;
    rotate: 0deg;
}

#ray_07{
    background-color: #ffbf3f;
    width: 15px;
    height: 4px;
    position: absolute;
    border-radius: 25px;
    top: 90px;
    left: 140px; 
    opacity: 1;
    z-index: 1;
    rotate: 45deg;
}

/* ~ SCENE 02 ~ */

#txt2_a{
    background:url(txt2_a.png) center no-repeat;
    width: 344px;
    height: 58px;
    position: absolute;
    top: 189px;
    left: -26px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt2_b{
    background:url(txt2_b.png) center no-repeat;
    width: 339px;
    height: 59px;
    position: absolute;
    top: 227px;
    left: -20px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

/* ~ SCENE 03 ~ */

#text03_wrapper{
    background: none;
    width: 300px;
    height: 250px;
    position: absolute;
    top: -44px;
    left: 0px; 
    opacity: 1;
    z-index: 1;
}

#txt3_a{
    background:url(txt3_a.png) center no-repeat;
    width: 195px;
    height: 57px;
    position: absolute;
    top: 175px;
    left: 53px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt3_b{
    background:url(txt3_b.png) center no-repeat;
    width: 403px;
    height: 47px;
    position: absolute;
    top: 216px;
    left: -51px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt3_c{
    background:url(txt3_c.png) center no-repeat;
    width: 241px;
    height: 47px;
    position: absolute;
    top: 256px;
    left: 31px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt4{
    background:url(txt4.png) center no-repeat;
    width: 294px;
    height: 85px;
    position: absolute;
    top: 254px;
    left: 2px;
    opacity: 0;
    z-index: 4;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#logo_symbol{
    background:url(logo_symbol.png) center no-repeat;
    width: 306px;
    height: 480px;
    position: absolute;
    top: -4px;
    left: -2px;
    opacity: 1;
    z-index: 1;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#cta{
    background:url(cta.png) center no-repeat;
    width: 246px;
    height: 58px;
    position: absolute;
    top: 372px;
    left: 27px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#logo_main{
    background: url(logo_main.png) center no-repeat;
    width: 334px;
    height: 77px;
    position: absolute;
    top: 532px;
    left: 64px;
    opacity: 0;
    z-index: 4;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}
