body {
    margin: 0px;
}

/* ~ OVERALL BANNER SPECS ~ */

#container{
    position:absolute;
    top:0px;
    left:0px;
    width:320px;
    height:50px;
    border:1px solid black;
    background-color: #c8102e;
    box-sizing: border-box;
    overflow:hidden;
    opacity:1;
    z-index:1;
}

/* ~ LAYER PROPERTIES ~ */

//#ref{
    background:url(ref.jpg) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 1;
}

/* ~ CAR 1 ~ */

#car01_wrapper{
    position: absolute;
    top: 0px;
    left: -600px;
    width: 320px;  
    height: 50px;  
    /*overflow:hidden;*/
    opacity:1;
    transform: scale(1);
    transform-origin: 45% 50%;
}

#car_01a{
    background:url(01car_broken.png) center no-repeat;
    width: 168px;
    height: 58px;
    position: absolute;
    top: -2px;
    left: -85px;
    opacity:1;
    z-index: 2;
}

#car_01b{
    background:url(01car_bumper.png) center no-repeat;
    width: 21px;
    height: 17px;
    position: absolute;
    top: 27px;
    left: 64px;
    opacity:1;
    z-index: 2;
}

#txt1_a{
    background:url(txt1_a.png) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 1;
    transform: scale(0);
    transform-origin: 50% 40%;
}

/* ~ CAR 2 ~ */

#car02_wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;  
    height: 50px;  
    /*overflow:hidden;*/
    opacity:1;
    transform: scale(1);
    transform-origin: 45% 50%;
}

#car_02a{
    background:url(02car_whole.png) center no-repeat;
    width: 168px;
    height: 58px;
    position: absolute;
    top: -2px;
    left: -85px;
    opacity:0;
    z-index: 3;
}

#car_02b{
    background:url(02car_hood.png) center no-repeat;
    width: 42px;
    height: 19px;
    position: absolute;
    top: 75px;
    left: 110px;
    opacity:0;
    z-index: 1;

}

#txt1_b{
    background:url(txt1_b.png) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 1;
    transform: scale(0);
    transform-origin: 20% 50%;
}

#starburst1{
    background:url(starburst.svg) center no-repeat;
    width: 78px;
    height: 76px;
    position: absolute;
    top: -5px;
    left: 30px;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
}

#starburst2{
    background:url(starburst.svg) center no-repeat;
    width: 78px;
    height: 76px;
    position: absolute;
    top: -10px;
    left: 100px;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
}

#surprise_wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;  
    height: 50px;  
    /*overflow:hidden;*/
    opacity:1;
    z-index: 1;
}

#surprise{
    background:url(surprise.svg) center no-repeat;
    width: 225px;
    height: 58px;
    position: absolute;
    top: 0px;
    left: 90px;
    opacity: 0;
    z-index: 1;
    transform: scale(0);
}

#dust{
    background:url(dust.png) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 180px;
    opacity:0;
    z-index: 1;
}

#txt2a{
    background:url(txt2_a.png) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
    transform-origin: 40% 50%;
}

#txt2b{
    background:url(txt2_b.png) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
    transform-origin: 45% 50%;
}

#txt2c{
    background:url(txt2_c.png) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
    transform-origin: 55% 50%;
}

/* ~ END FRAME ~ */

#arm_wrapper{
    position: absolute;
    top: 0px;
    left: -300px;
    width: 320px;  
    height: 50px;  
    overflow:hidden;
    opacity:0;
}

#prd_1{
    background:url(prd_1.png) center no-repeat;
    width: 320px;
    height: 62px;
    position: absolute;
    top: 100px;
    left: 0px;
    opacity: 0;
    z-index: 2;
}

#prd_2{
    background:url(prd_2.png) center no-repeat;
    width: 320px;
    height: 62px;
    position: absolute;
    top: 100px;
    left: 0px;
    opacity: 0;
    z-index: 2;
}

#logo{
    background:url(logo.svg) center no-repeat;
    width: 66px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 236px;
    opacity: 1;
    z-index: 2;
    transform: scale(0.9);
}

#tagline{
    background:url(tagline.png) center no-repeat;
    width: 640px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 0px;
    opacity: 0;
    z-index: 2;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}

#cta{
    background:url(cta.png) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 3;
    transform: scale(0);
    transform-origin: 90% 50%;
}

#darkred_bckg{
    background-color: #b42232;
    position: absolute;
    top: 0px;
    left: 217px;
    width: 288px;  
    height: 50px;  
    overflow:hidden;
    opacity:1;
}