body {
    margin: 0px;
}

/* ~ OVERALL BANNER SPECS ~ */

#container{
    position:absolute;
    top:0px;
    left:0px;
    width:320px;
    height:50px;
    border:1px solid black;
    background-color: #002d72;
    box-sizing: border-box;
    overflow:hidden;
    opacity:1;
    z-index:1;
}

/* ~ LAYER PROPERTIES ~ */

//#ref{
    background:url(backup.jpg) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 1;
}

#border{
    background:url(border.png) center no-repeat;
    width: 640px;
    height: 100px;
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 1;
    z-index: 1;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}

/* ~ SCENE 01 ~ */

#txt1{
    background:url(txt1.png) center no-repeat;
    width: 324px;
    height: 29px;
    position: absolute;
    top: 11px;
    left: -6px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#icon01{
    background:url(icon01.png) center no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -11px;
    left: 8px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#icon02{
    background:url(icon02.png) center no-repeat;
    width: 68px;
    height: 68px;
    position: absolute;
    top: -10px;
    left: 7px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#icon03{
    background:url(icon03.png) center no-repeat;
    width: 102px;
    height: 56px;
    position: absolute;
    top: -4px;
    left: -11px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#icon04{
    background:url(icon04.png) center no-repeat;
    width: 72px;
    height: 66px;
    position: absolute;
    top: -9px;
    left: 6px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

/* ~ SCENE 02 ~ */

#primrose_wrapper{
    background: none;
    width: 64px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px; 
    opacity: 0;
    z-index: 1;
    overflow: hidden;
}

#primrose{
    background:url(primrose.jpg) center no-repeat;
    width: 200px;
    height: 134px;
    position: absolute;
    top: -35px;
    left: -70px;
    opacity: 1;
    z-index: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#txt2_a{
    background:url(txt2_a.png) center no-repeat;
    width: 76px;
    height: 21px;
    position: absolute;
    top: 14px;
    left: 56px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt2_b{
    background:url(txt2_b.png) center no-repeat;
    width: 59px;
    height: 23px;
    position: absolute;
    top: 13px;
    left: 103px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt2_c{
    background:url(txt2_c.png) center no-repeat;
    width: 39px;
    height: 24px;
    position: absolute;
    top: 12px;
    left: 142px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt2_d{
    background:url(txt2_d.png) center no-repeat;
    width: 45px;
    height: 23px;
    position: absolute;
    top: 13px;
    left: 164px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt2_e{
    background:url(txt2_e.png) center no-repeat;
    width: 109px;
    height: 29px;
    position: absolute;
    top: 11px;
    left: 176px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt2_f{
    background:url(txt2_f.png) center no-repeat;
    width: 83px;
    height: 16px;
    position: absolute;
    top: 18px;
    left: 242px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

/* ~ SCENE 03 ~ */

#txt3{
    background:url(txt3.png) center no-repeat;
    width: 489px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: -106px;
    opacity: 0;
    z-index: 4;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#text04_wrapper{
    background: none;
    width: 300px;
    height: 250px;
    position: absolute;
    top: -44px;
    left: 0px; 
    opacity: 1;
    z-index: 1;
}

#txt4_a{
    background:url(txt4_a.png) center no-repeat;
    width: 104px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: -9px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt4_b{
    background:url(txt4_b.png) center no-repeat;
    width: 67px;
    height: 23px;
    position: absolute;
    top: 48px;
    left: 57px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt4_c{
    background:url(txt4_c.png) center no-repeat;
    width: 137px;
    height: 26px;
    position: absolute;
    top: 64px;
    left: -17px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt4_d{
    background:url(txt4_d.png) center no-repeat;
    width: 129px;
    height: 26px;
    position: absolute;
    top: 64px;
    left: 59px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#cta{
    background:url(cta.png) center no-repeat;
    width: 124px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 136px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#logo_main{
    background: url(logo_main.png) center no-repeat;
    width: 134px;
    height: 32px;
    position: absolute;
    top: 17px;
    left: 241px;
    opacity: 0;
    z-index: 4;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}
