body {
    margin: 0px;
}

/* ~ OVERALL BANNER SPECS ~ */

#container{
    position:absolute;
    top:0px;
    left:0px;
    width:320px;
    height:50px;
    border:1px solid black;
    background-color: #0960bb;
    box-sizing: border-box;
    overflow:hidden;
    opacity:1;
    z-index:1;
}

/* ~ LAYER PROPERTIES ~ */

//#ref{
    background:url(backup.jpg) center no-repeat;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 1;
}

#border{
    background:url(border.png) center no-repeat;
    width: 640px;
    height: 100px;
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 1;
    z-index: 1;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}

/* ~ SCENE 01 ~ */

#bank{
    background:url(bank.png) center no-repeat;
    width: 63px;
    height: 45px;
    position: absolute;
    top: 4px;
    left: -500px;
    opacity: 0;
    z-index: 0;
    transform: scale(1);
    transform-origin: 50% 50%;
    mix-blend-mode: multiply;
}

#txt1_a{
    background:url(txt1_a.png) center no-repeat;
    width: 275px;
    height: 19px;
    position: absolute;
    top: 8px;
    left: -10px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#text01_wrapper{
    background: none;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px; 
    opacity: 1;
    z-index: 1;
}

#txt1_b{
    background:url(txt1_b.png) center no-repeat;
    width: 211px;
    height: 23px;
    position: absolute;
    top: 50px;
    left: 6px;
    opacity: 0;
    z-index: 4;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#txt1_c{
    background:url(txt1_c.png) center no-repeat;
    width: 224px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: 114px;
    opacity: 0;
    z-index: 4;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

/* ~ SCENE 02 ~ */

#text02_wrapper{
    background: none;
    width: 320px;
    height: 90px;
    position: absolute;
    top: 0px;
    left: 0px; 
    opacity: 1;
    z-index: 4;
}

#txt2_a{
    background:url(txt2_a.png) center no-repeat;
    width: 111px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -16px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt2_b{
    background:url(txt2_b.png) center no-repeat;
    width: 252px;
    height: 24px;
    position: absolute;
    top: 21px;
    left: -51px;
    opacity: 0;
    z-index: 4;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#cta{
    background:url(cta.png) center no-repeat;
    width: 96px;
    height: 24px;
    position: absolute;
    top: 13px;
    left: 160px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

/* ~ SCENE 03 ~ */

#txt3_a{
    background:url(txt3_a.png) center no-repeat;
    width: 233px;
    height: 24px;
    position: absolute;
    top: 7px;
    left: -46px;
    opacity: 0;
    z-index: 4;
    transform: scale(0);
    transform-origin: 50% 50%;
}

#txt3_b{
    background:url(txt3_b.png) center no-repeat;
    width: 325px;
    height: 24px;
    position: absolute;
    top: 22px;
    left: -70px;
    opacity: 0;
    z-index: 4;
    transform: scale(0.5);
    transform-origin: 50% 50%;
}

#logo_main{
    background: url(logo_main.png) center no-repeat;
    width: 132px;
    height: 30px;
    position: absolute;
    top: 17px;
    left: 242px;
    opacity: 0;
    z-index: 4;
    transform: scale(0.5);
    transform-origin: 0% 0%;
}
