html{-webkit-font-smoothing: antialiased;}
body{
	margin: 0px;
	letter-spacing:1.1px;
}

#ad{
    display: block;
    border: rgb(204, 204, 204) 1px solid;
 /* */ overflow: hidden;
    width: 298px;
    height: 248px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	/* background-image: url('frame_2.jpg');*/
}

#banner{
    position: absolute;
    display: block;
    width: 298px;
    height: 248px;
   /**/overflow: hidden;
	opacity:0;
	background-color:#0033A0; 
}

#overButton{
 	position: absolute;
    display: block;
    width: 300px;
    height: 250px;
	top: 0px;
    left: 0px;
    cursor: pointer;
}

#frame_1{
	position:absolute;
	width:300px;
	height:250px;
	background-color:#0033A0;
}

#frame1_swimmer{
	position: absolute;
	background-image: url('swimmer.jpg');
	width: 700px;
	height: 467px;
	top: -115px;
	left: -165px;
	background-repeat: no-repeat;
	transform: scale(0.6);
}

#frame1_text1{
	position: absolute;
	background-image: url('text1a.svg');
	width: 115px;
	height: 28px;
	top: 100px;
	left: 100px;
	background-repeat: no-repeat;
}

#frame1_text2{
	position: absolute;
	background-image: url('text1b.svg');
	width: 236px;
	height: 75px;
	top: 120px;
	left: 35px;
	background-repeat: no-repeat;
}

#frame1_text3{
	position: absolute;
	background-image: url('text1c.svg');
	width: 234px;
	height: 53px;
	top: 185px;
	left: 43px;
	background-repeat: no-repeat;
}

#frame_2{
	position:absolute;
	width:300px;
	height:250px;
}

#frame2_gradient{
	position: absolute;
	background-image: url('gradient.jpg');
	width: 300px;
	height: 250px;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	opacity: 0;
}

#frame_3{
	position:absolute;
	width:300px;
	height:250px;
}

#frame3_bubbles1{
	position: absolute;
	width: 300px;
	height: 250px;
	background-image: url('bubbles_1.png');
	background-repeat: no-repeat;
	transform: scale(0);
}

#frame3_bubbles2{
	position: absolute;
	width: 300px;
	height: 250px;
	background-image: url('bubbles_2.png');
	background-repeat: no-repeat;
	transform: scale(0);
}

#frame3_bubbles3{
	position: absolute;
	width: 300px;
	height: 250px;
	background-image: url('bubbles_3.png');
	background-repeat: no-repeat;
	transform: scale(0);
}

#frame3_logoh1{
	position: absolute;
	top: 80px;
	left: 85px;
	width: 53px;
	height: 80px;
	background-image: url('logo_h1.svg');
	background-repeat: no-repeat;
	transform: scale(0);
	opacity: 0;
}

#frame3_logot{
	position: absolute;
	top: 74px;
	left: 122px;
	width: 55px;
	height: 75px;
	background-image: url('logo_t.svg');
	background-repeat: no-repeat;
	transform: scale(0);
	opacity: 0;
}

#frame3_logoh2{
	position: absolute;
	top: 64px;
	left: 175px;
	width: 60px;
	height: 80px;
	background-image: url('logo_h2.svg');
	background-repeat: no-repeat;
	transform: scale(0);
	opacity: 0;
}

#frame3_here2help{
	position: absolute;
	top: 75px;
	left: 87px;
	width: 142px;
	height: 39px;
	background-image: url('here2help.svg');
	background-repeat: no-repeat;
	opacity: 0;
}

#frame3_here2helpglow{
	position: absolute;
	top: 133px;
	left: 76px;
	width: 162px;
	height: 59px;
	background-image: url('here2help_glow.png');
	background-repeat: no-repeat;
	opacity: 0;
}

#frame_4{
	position:absolute;
	width:300px;
	height:250px;
}

#frame4_text2a{
	position: absolute;
	top: 130px;
	left: -71px;
	width: 92px;
	height: 24px;
	background-image: url('text2a.svg');
	background-repeat: no-repeat;
	opacity: 0;
}

#frame4_text2b{
	position: absolute;
	top: 148px;
	left: -71px;
	width: 75px;
	height: 21px;
	background-image: url('text2b.svg');
	background-repeat: no-repeat;
	opacity: 0;
}

#frame4_text2c{
	position: absolute;
	top: 158px;
	left: -71px;
	width: 111px;
	height: 26px;
	background-image: url('text2c.svg');
	background-repeat: no-repeat;
	opacity: 0;
}

#frame_5{
	position:absolute;
	width:300px;
	height:250px;
}

#frame5_product{
	position: absolute;
	top: 80px;
	left: 168px;
}

#frame5_animate{
	position: absolute;
	top: 170px;
	left: -58px;
	width: 223px;
	height: 68px;
}

#frame5_ctaback1{
	position: absolute;
/*	top: 305px;
	left: -43px;*/
	width: 223px;
	height: 68px;
	background-image: url('cta_back1.svg');
	background-repeat: no-repeat;
}

#frame5_ctaback2{
	position: absolute;
/*	top: 305px;
	left: -43px;*/
	width: 223px;
	height: 68px;
	background-image: url('cta_back2.svg');
	background-repeat: no-repeat;
	opacity: 0;
}

#frame5_lmbtn{
	position: absolute;
	top: 6px;
	left: 192px;
	width: 22px;
	height: 22px;
	background-image: url('lm_btn.svg');
	background-repeat: no-repeat;
}
